/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
#36bae6 - blue hover


TABLE OF CONTENTS

  1. Global styles
  2. Hero
  3. Navigation
  4. Footer
  5. Media Queries
    5a. Media Query, (min-width:480px)

    5b. Media Query, (min-width: 1000px)

*/
/* Global styles
------------------------------------*/
:root {
  --black: #343434;
  --greendark: #265c00;
  --greenlight: #b3de81;
  --greenhover: #68a225;
  --white: #F7FFF7;
  --yellow: #FFE66D;
  --tWhite: rgba(255, 255, 255, 0.8);
}

* {
  font-size: 100%;
  /* padding: 0; */
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

article,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contents {
  flex: 1;
  padding: 3rem 0 8.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--yellow);
}

a:hover {
  text-decoration: none;
  color: var(--greenhover);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}

p {
  line-height: 1.4;
}

i {
  padding-left: .5rem;
  color: var(--white);
  font-size: 1.5rem;
}

i:hover {
  color: var(--greenhover);
}

.content-wrap {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

.content-wrap:last-of-type {
  padding: 1rem 0;
}

/*-- ************  Header  ************ -- */

header {
  background-color: var(--greendark);
  color: var(--white);
}

.navWrap a {
  flex: 1;
}

.logo {
  max-width: 100px;
}

.navWrap {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 48px;
  width: 100%;
  background-color: var(--greendark);
  border-bottom: 1px solid var(--white);
  box-shadow: 0px 1px 8px var(--greendark);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input#navToggle {
  display: none;
}

input#navToggle~label {
  position: relative;
  padding: 0.25rem;
  width: 2rem;
  height: 1.25rem;
  height: 2rem;
}

input#navToggle~label>span,
input#navToggle~label>span::before,
input#navToggle~label>span::after {
  content: "";
  display: block;
  position: absolute;
  top: .75rem;
  height: 0.125rem;
  width: 1.75rem;
  opacity: 1;
  background: var(--white);
  transition: 0.14s ease-in-out;
}

input#navToggle~label>span::before {
  top: -0.5rem;
}

input#navToggle~label>span::after {
  top: 0.5rem;
}

#navToggle:checked~label>span {
  width: 0;
  background: rgba(18, 18, 18, 0);
}

#navToggle:checked~label>span::before {
  transform: rotateZ(45deg);
  top: 0;
}

#navToggle:checked~label>span::after {
  transform: rotateZ(-45deg);
  top: 0;
}

#navToggle:checked~nav {
  left: 0;
}

nav {
  position: absolute;
  z-index: -1;
  top: 3.0rem;
  left: -110%;
  width: 100%;
  transition: 0.22s ease-in-out;
}

nav::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: var(--greenlight);
  background-size: cover;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: .75rem 1rem;
  color: var(--white);
  border-bottom: solid 1px rgba(255, 255, 255, .5);
  transition: 0.14s ease-in-out;
}

nav ul li a:hover {
  color: var(--greenhover);
  background: var(--white);
}

nav ul li:last-of-type::before {
  content: "";
  display: block;
  padding: .5rem;
}

nav .btn {
  background: var(--white);
  border-bottom: none;
  border-radius: 4px;
  box-shadow: inset 0 0 5px var(--yellow);
  color: var(--greendark);
  width: 40%;
  padding: 0.25rem .6rem;
  letter-spacing: 1px;
  text-shadow: 0 0 1px var(--greenhover);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

nav .btn:hover {
  background-color: var(--greendark);
  box-shadow: inset 0 0 5px var(--greenhover);
  color: var(--white);
}


/*-- ************  Footer  ************ -- */

footer {
  background-color: var(--greendark);
  color: var(--white);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*-- ************  Footer -- Footer Wrap  ************ -- */
.footer_wrap {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/*-- **********  Footer Wrap -- Social Text  ********** -- */

.social_text {
  flex: 1;
}

.social_text span {
  font-size: 1.5rem;
}

/*-- **********  Footer Wrap -- Social Icons Wrap  ********** -- */

.social_icons {
  flex: 1;
}

/*-- **********  Footer Wrap -- copyrights Wrap  ********** -- */

.copyrights_wrap {
  flex: 1;
  font-size: .8rem;
}


/* ================================================ */

/* ----------****** Hero Page ******----- */


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-text h1 {
  flex: 1;
  font-size: 4rem;
  font-weight: 900;
  padding: 2rem 3rem;
}


.hero-text p {
  flex: 1;
  font-size: 2rem;
  font-weight: 800;
  line-height: 3rem;
}

.welcome {
  margin-top: 3rem;
  color: var(--yellow);
}

.hero-text a {
  flex: 1;
  margin-top: 5rem;
}


.hero-image .hero-btn {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 800;
  background: rgba(136, 3, 3, 0.651);
  padding: .6rem 1rem;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

.hero-image .hero-btn:hover {
  background: #fff;
  color: #000;
}


/* --------***** Forms ******-------- */

.form {
  background-color: var(--greenlight);
  ;
  color: var(--black);
  padding: 1rem 1rem 2rem;
}

/* ######### Contact Form ######### */
form#contactForm {
  max-width: 350px;
  margin: auto;
}

.contactForm div {
  margin-top: 1em;
}

.subtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactForm div:first-of-type {
  margin-top: 0;
}

.contactForm label {
  display: block;
}

.contactForm input,
.contactForm textarea {
  border: solid 1px var(--greendark);
  border-radius: 4px;
  color: #707070;
  cursor: text;
  font-size: 1rem;
  max-width: 350px;
  padding: .5rem;
  width: 100%;
}

.contactForm textarea {
  min-height: 100px;
}

.contactForm button {
  background-color: var(--greendark);
  border: none;
  border-radius: 4px;
  color: var(--tWhite);
  font-size: 1rem;
  padding: .5rem;
  min-width: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactForm button:hover {
  background-color: var(--greenhover);
  color: var(--yellow);
}

.contactForm input[type="submit"]:active {
  box-shadow: 1px 1px 6px rgba(255, 255, 255, .6), 0px 0px 4px rgba(255, 255, 255, .8);
}

.contactForm .checks {
  margin: .25em 0 1em .1em;
}

.contactForm input[type="checkbox"]+label {
  display: inline-block;
  padding-top: 0;
  margin-top: 0;
}

/* custom checkbox */
.contactForm .checks label {
  display: inline-block;
}

.contactForm input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin: 1px 0 0 -1px;
}

input[type="checkbox"]:checked~span:before {
  content: "\f14a";
}

.checks span:before {
  display: inline-block;
  box-sizing: border-box;
  color: var(--greenlight);
  content: "\f0c8";
  font-family: "Font Awesome 5 Free";
  font-size: 1.3em;
  margin: -3px 3px 0 0;
  vertical-align: middle;
}

.contactForm input:focus,
.contactForm textarea:focus {
  border: solid 1px var(--greenlight);
  box-shadow: 0 0 2px var(--greenhover), 0px 0px 4px var(--greenhover), 1px 1px 4px var(--greenlight), 2px 2px 4px var(--greenlight);
  outline: none;
}

/* radio buttons */
.contactForm div.radioBtns {
  margin: 1em 0;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
}

.radioBtns p {
  padding-bottom: 0;
  grid-column: span 3;
}

input[type="radio"]:first-of-type {
  margin-left: 0;
}

/* make the new radio button */
.radioBtns span:before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  color: var(--greendark);
  font-size: 1.2em;
  vertical-align: middle;
  margin: -4px 3px 0 0;
}

.radioBtns label {
  position: relative;
}

/* hide the default radio buttons */
.radioBtns input[type="radio"] {
  position: absolute;
  opacity: 0;
}

/* create the on (selected) state */
input[type="radio"]:checked~span:before {
  content: "\f192";
  /* unicode for fa dot circle */
}

/* ==================================================================  */

/* ----******* Blog Page *****------- */

.bcontents h1,
h2,
h3 {
  color: var(--greendark);
  /* text-align: center; */
  /* margin-bottom: 1rem; */
}


.blog_header h1+p {
  border-left: solid 1px #dedede;
  padding-left: 1rem;
}

.blog_header article h1 {
  margin-left: 1rem;
}

.articles_wrap ul li {
  border: solid 1px #dedede;
  border-radius: 6px;
  list-style-type: none;
  margin: 0 0 1rem 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}

.articles_wrap li span {
  background: url(../images/blopic1.jpg) no-repeat center;
  background-size: cover;
  border-radius: 6px 0 0 6px;
  color: #fff;
  padding-top: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px var(--greendark);
  grid-column: 1 / 2;
  grid-row: span 2;
}

.articles_wrap li h4 {
  background-color: var(--greendark);
  border-radius: 0 6px 0 0;
  color: #fff;
  padding: .5rem 1rem;
  grid-column: 2 / -1;
  align-self: start;
}

.articles_wrap li p {
  padding: .5rem 1rem 1rem;
  grid-column: 2 / -1;
}

.articles_wrap li p a {
  color: var(--white);
  background-color: var(--greendark);
  padding: 0 .5rem;
}

.articles_wrap li p a:hover {
  background-color: var(--greenhover);
}

.articles_wrap li:nth-of-type(2) span {
  background-image: url(../images/blopic2.jpg);
}

.articles_wrap li:nth-of-type(3) span {
  background-image: url(../images/blopic3.jpg);
}

.articles_wrap li:nth-of-type(4) span {
  background-image: url(../images/blopic4.jpg);
}

.articles_wrap li:nth-of-type(5) span {
  background-image: url(../images/blopic5.jpg);
}

.articles_wrap li:nth-of-type(6) span {
  background-image: url(../images/blopic6.jpg);
}


/* -----------************** Blog - ASIDE *******************------ */


.aside_wrap .rightCol {
  background-color: var(--greendark);
  padding: 20px;
}

.aside_wrap .rightCol section {
  border-bottom: 1px solid var(--white);
  padding-bottom: 20px;
}

.aside_wrap .rightCol section>h1 {
  color: var(--white);
  font-size: 1.5rem;
}

.aside_wrap .rightCol #blogSearch input {
  width: 100%;
  border-radius: 10px;
}

.aside_wrap .rightCol ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside_wrap .rightCol ul li,
.aside_wrap .rightCol h2 {
  background-color: var(--white);
}

.aside_wrap .rightCol ul li:nth-child(even) {
  background-color: var(--tWhite);
}

.aside_wrap .rightCol h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.aside_wrap .rightCol li a,
.aside_wrap .rightCol h2 a {
  color: var(--black);
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: space-between;

}

.aside_wrap .rightCol li a span,
.aside_wrap .rightCol h2 span {

  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  background-color: var(--greendark);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside_wrap .rightCol li a:hover,
.aside_wrap .rightCol h2 a:hover {
  background-color: var(--greenhover);
}

.aside_wrap .rightCol li a:hover span,
.aside_wrap .rightCol h2 a:hover span {
  background-color: var(--white);
  color: var(--greendark);
}

.aside_wrap .rightCol ul li:first-child,
.aside_wrap .rightCol ul li:first-child a:hover {
  border-radius: 10px 10px 0 0;
}

.aside_wrap .rightCol ul li:last-child,
.aside_wrap .rightCol ul li:last-child a:hover {
  border-radius: 0 0 10px 10px;
}

.aside_wrap .rightCol h2,
.aside_wrap .rightCol h2 a:hover {
  border-radius: 10px;
}

.archyear {
  margin: 1rem 0;
}

/* ============================================================================================ */

/* ############ Project Page ############ */
.pro_wrap {
  padding: 1rem;
  margin: auto;
  max-width: 1200px;
}

.pro_wrap article {
  margin: 2rem auto;
  width: 80%;
  max-width: 1000px;
}

.pro_wrap h1 {
  color: #3abadf;
  font-size: 3rem;
  margin-left: 1rem;
}

.pro_wrap article p {
  border-left: solid 1px #dedede;
  padding-left: 1rem;
}

.proList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1rem;
}

.proList li {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 6px;
  border: solid 1px #dedede;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(140px, 1fr) auto;
}

.proList h3,
.proList img {
  grid-row: 1 / 2;
  grid-column: 1;
}

.proList h3 {
  background-color: rgba(30, 58, 218, 0.5);
  color: var(--white);
  padding: .5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(51, 51, 51, .7);
  align-self: end;
  font-size: 1.5rem;
}

.pro_wrap a {
  border-radius: 3px;
  background-color: #39bae6;
  color: #fff;
  height: 2rem;
  margin-top: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro_wrap a:hover {
  background-color: var(--greendark);
}

/* =========================================================================== */

/* --------********* Resume *******------- */


.item-details h3+p {
  font-style: italic;
}

.item-details h3~p {
  margin: 0;
}

.divider>section {
  border-bottom: 1px dashed #343434;
  padding: 25px 1rem;
}

.divider>section:last-of-type {
  border-bottom: none;
  padding-bottom: 10rem;
}

.divider>section:nth-child(even) {
  background-color: rgb(90, 191, 238, 35%);
}


.work-experience {
  padding-top: 5rem;
}


.item-details {
  background: rgb(90, 191, 238, 30%);
  min-height: 95vh;
}

.item-details h2 {
  text-align: center;
  font-size: 3rem;
}

#lkd {
  text-align: right;
  padding-right: 3rem;
}

#lkd a {
  color: var(--tWhite);
  background-color: var(--greendark);
}

#aboutme_wrap{
  text-align: justify;
}

.corner_img{
  height: 300px;
  float: right;
  shape-outside: url('../images/Pam\ no\ background\ color.png');
  margin-top: 50px;
  shape-margin: 20px;
  
}
/* =======================================================================  */



/* Tablets Display */

@media screen and (min-width:500px) {
  /* Change menu from Hamburger to display in line and the logo on top of menu */

}

/* Laptop or Desktop Display */

@media screen and (min-width:780px) {


  /* -- ***************  Header  **************** -- */
  .content-wrap {
    max-width: 1200px;
    width: 90%;
  }

  .navWrap {
    display: grid;
    grid-template-columns: 100px minmax(auto, 1100px);
    justify-content: center;
    height: auto;
  }

  .navToggleLabel {
    display: none;
  }

  nav {
    position: initial;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul li a {
    border-bottom: none;
    ;
  }

  nav ul li a:hover {
    background: transparent;
  }

  nav::after,
  nav ul li:last-of-type::before {
    display: none;
    padding: initial;
  }

  nav .btn {
    width: auto;
    background: var(--greenhover);
    color: var(--white);
    letter-spacing: normal;
    text-shadow: none;
    box-shadow: none;
  }

  nav.btn:hover {
    box-shadow: inset 0 0 5px var(--greenhover);
    background-color: var(--greendark);
  }

  /* Using flex to display Menu*/

  /* -- ***************  Footer  **************** -- */

  /* Try to make it grid */

  i {
    padding-left: 0;
    font-size: 2rem;
  }

  .footer_wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .social_text {
    flex: 1;
    display: none;
  }

  .social_icons {
    display: flex;
    justify-content: flex-end;
    /*To align icons on far right */
    gap: 2rem;
    flex: 1;
    justify-content: flex-end;
  }

  .copyrights_wrap {
    flex: 1;
    font-size: 1rem;
    order: -1;

  }


  /* ================================================================== */


  /*----- Blog ------- */

  .articles_wrap {
    max-width: 1000px;
    /* margin: auto; */
  }

  .blog_header article {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .blog_header article h1 {
    text-align: right;
    margin-right: 1rem;
  }

  .articles_wrap ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }




  /* -----*********** Blog Page Computer Screen ****** ----- */


  .blog_main {
    display: grid;
    grid-template-columns: 1fr .3fr;
    grid-gap: 1rem;
  }

  .articles_wrap {
    grid-column: 1/2;
  }

  .aside_wrap {
    min-width: 230px;
  }


  /* ===================================================== */
  /* ######### Project Page, Large screen rules ######### */
  .proList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .pro_wrap article {
    width: 90%;
    display: flex;
    align-items: center;
  }

  .pro_wrap h1 {
    margin: 0 1rem 0 0;
  }

  .pro_wrap p {
    flex: 3;
  }


  /* =========================================================== */

  /* Resume Page on Wider Screen */

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

}

/* ====================================================================== */



@media screen and (min-width: 1200px) {

  /* Change footer and display icons one line */

}

/* ============================================================================================================================== */