/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light


TABLE OF CONTENTS

  1. Global styles
  2. Hero
  3. Navigation
  9. Footer
    9a. Contact
    9b. Connect
  10. Media Queries
    10a. Media Query, (min-width:480px)
    

    10b. Media Query, (min-width: 1000px)

*/
/* Global styles
------------------------------------*/
* {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

article,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    background: #F7FFF7;
    color: #343434;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/* .contents{
      min-height: 90vh;
  } */

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #FFE66D;
}

a:hover {
    text-decoration: none;
    color: #e06630;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

p {
    line-height: 1.4;
}

i {
    padding-left: .5rem;
    color: #F7FFF7;
    font-size: 1.5rem;
}

i:hover {
    color: #36bae6;
}

.content-wrap {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 3rem 0;
}

/*-- ************  Header  ************ -- */
header {
    background-color: #2F3061;
    color: #F7FFF7;
    margin: 0;
	padding: 1px 0;
	position: relative;
	/* overflow: hidden; */
    /* height: 10vh; */
}
.hlogo {
	font-size: 2em;
	line-height: 53px;
	letter-spacing: .25rem; 
	color: #F7FFF7;
	font-weight: 900;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 70px;
	bottom: 6px;
	text-shadow: 2px 2px 0px #4766cc;
	text-transform: uppercase;
}

input#navToggle {
	display: none;
}

input#navToggle:checked + nav {
	right:0;
}

input#navToggle:checked + nav label {
	background-image: url(images/menu_close.svg);
}

nav {
	width: 180px;
	background-color: #13b1e7;
	padding: 10px 20px 10px 25px;
	color: #fff;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	right: -180px;
	/* transition: right .6s ease-in-out; */
}

nav li a {
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 14px 0;
	border-top: 1px solid rgba(255,255,255,.1);
}

nav li a:first-of-type {
	border-top: none;
}

nav label {
    color: #fff;
	cursor: pointer;
	display: block;
	width: 42px;
	height: 42px;
	background: #13b1e7 url(images/menu_open.svg);
	background-size: 22px auto;
	position: absolute;
	top: 78px;
	left: -42px;
}

/*-- ************  Footer  ************ -- */

footer {
    background-color: #2F3061;
    color: #F7FFF7;
}

/*-- ************  Footer -- Footer Wrap  ************ -- */
.footer_wrap {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/*-- **********  Footer Wrap -- Social Text  ********** -- */

.social_text {
    flex: 1;
}

.social_text span {
    font-size: 1.5rem;
}

/*-- **********  Footer Wrap -- Social Icons Wrap  ********** -- */

.social_icons{
    flex: 1;
}

/*-- **********  Footer Wrap -- copyrights Wrap  ********** -- */

.copyrights_wrap {
    flex: 1;
    font-size: .8rem;
}


/* Tablets Display */

@media screen and (min-width:500px) {
    /* Change menu from Hamburger to display in line and the logo on top of menu */

}

    /* Laptop or Desktop Display */

@media screen and (min-width:780px) {


    /* -- ***************  Header  **************** -- */

       /* Using flex to display Menu*/

    /* -- ***************  Footer  **************** -- */

       /* Try to make it grid */

    i {
        padding-left: 0;
        font-size: 2rem;
    }

    .footer_wrap {
        flex-direction: row;
        justify-content: space-between;
    } 

    .social_text {
        flex: 1;
        display: none;
    }
    .social_icons{
        display: flex;
        justify-content: flex-end; /*To align icons on far right */
        gap: 2rem;
        flex: 1;
        justify-content: flex-end;
    }
    .copyrights_wrap {
        flex: 1;
        font-size: 1rem;
        order: -1;

    }
}

@media screen and (min-width: 1200px) {

        /* Change footer and display icons one line */

}






/* .menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-list a {
    color: #F7FFF7;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: right;
    border-top: 1px dashed #F7FFF7; 
}

ul li:first-of-type {
	border-top: none;
}

.menu-list a:hover {
    color: #36bae6;
}
nav label {
	display: block;
	background: url(images/menu.svg) no-repeat 0 1px; 
	background-size: 20px auto;
	padding: 0 0 10px 30px;
}

nav label .menu-list {
	margin: 10px 0 0 0;
	display: none;
}

nav label input {
	display: none;
}

nav label input:checked ~ ul {
	display: block;
} */